#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp



#build-stamp: configure-stamp
build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	#python setup.py build --build-temp=$(CURDIR)/debian/gnome-sudoku
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	python2.4 setup.py clean --bdist-base=$(CURDIR)/debian/gnome-sudoku

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/gourmet.
	#echo installing with setup.py
	python2.4 setup.py install --no-compile --root=$(CURDIR)/debian/gnome-sudoku --install-lib=/usr/share/gnome-sudoku/ --prefix=/usr
	#echo done installing



# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGES
	echo $(PATH),$(FOO)
	echo `env`

	# I have no idea why dh_installdocs is failing (it tryies to cpy #/
	# suggesting I have a comment somewhere where I don't mean to, but I
	# have no clue where. At any rate, apparently dh_installdocs is
	# basically just running cp, so replacing appears to work for the time
	# being.

#	dh_installdocs debian/copyright
	cp -a debian/copyright debian/gnome-sudoku/usr/share/doc/gnome-sudoku/
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
